.App {
  text-align: center;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.Card {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.Pile {
  height: 40%;
  width: 15%;
}

.CardPlaceholder {
  background-color: gray;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  color: #eeeeee;
}